
.cdm-postbox-container{
    background: #f0f0f1;
    border: none;
}

/* Ocultar mensaje de cabecera del panel de administración */ 
.ewd-ufaq-main-dashboard-review-ask{
    display: none !important;
}

.nav-tab{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.nav-tab-wrapper{
    padding-bottom: 0px !important;
}

.nav-tab-active{
    background-color: #546E7A !important;
    color: #ffffff !important;
}